html, body {
    width: 100%;
    height: 100%;
    color: #efefef;
}

.result-box {
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.25;
}

.hidden {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
}

@supports ((-webkit-backdrop-filter: blur(8px)) or (backdrop-filter: blur(8px))) {
    .backdrop-blur {
        background-color: rgba(0, 0, 0, .15);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
    }

    .banner .filler .text {
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        background-color: rgba(0, 0, 0, .2);
    }
}

@supports not ((-webkit-backdrop-filter: blur(8px)) or (backdrop-filter: blur(8px))) {
    .backdrop-blur:after {
        pointer-events: none;
        z-index: -1;
        background-color: rgba(33, 33, 33, .96);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: .6em;
    }

    .banner .filler .text {
        background-color: #3c3c3c;
    }
}

.form-container {
    position: fixed;
    padding: 1.2em;
    border-radius: .7em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(94%, 560px);
    z-index: 1000;
}

@media (max-width: 1300px) {
    .form-container .ms-3 {
        margin-left: 0 !important;
        width: 94%;
    }
}

.settings {
    position: fixed;
    padding: .4em;
    top: .6em;
    right: .6em;
    border-radius: .4em;
}

.bg-image {
    background: rgba(46, 46, 46, .72);
    width: 100%;
    height: 100%;
}

.bg-image:before {
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    background: url('../img/bg-2.png') repeat;
    filter: grayscale(1);
}

.bg-image:after {
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1000;
    position: fixed;
    top: 0;
    left: 0;
    animation: rgb linear 92s infinite;
    background-image: linear-gradient(to right, #4df117, #6dcddd, #093dd8, #fc0cb9, #f01f25, #f3ec17, white, #4df117);
    background-size: 850% 100%;
}

@media screen and (prefers-reduced-motion: reduce) {
    .bg-image:after {
        animation: none;
    }
}

@keyframes rgb {
    0% {
        background-position: 0 0;
    }
    100% {
        /*background-position: 850% 0;*/
    }
}

#background {
    width: 100%;
    height: 100%;
}

.banner {
    position: fixed;
    width: max(200px, min(1000px, 85%));
    height: max(80px, min(90px, 15%));
    left: 50%;
    bottom: .3em;
    transform: translate(-50%, 0);
    z-index: 0;
}

.banner .filler {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: .7rem;
    font-weight: 600;
}

.banner .filler .text {
    display: flex;
    flex-direction: column;
    border-radius: .65em;
    padding: .4em;
}

.banner iframe {
    position: absolute;
    top: 0;
    left: 0;
}

@media (min-width: 1000px) {
    .banner {
        width: 780px;
    }

    .banner .filler {
        font-size: 1.3rem;
        font-weight: 700;
    }
}

#coffee {
    display: flex;
    position: fixed;
    left: .6em;
    bottom: .6em;
    width: 65px;
    height: 65px;
}

#coffee .flyout {
    z-index: -1;
    transition: width .3s ease-out, opacity 0.01s linear .28s;
    background-color: #FFDD00;
    color: #000;
    font-weight: bolder;
    font-size: 1.40rem;
    position: absolute;
    left: 32px;
    top: 0;
    overflow: hidden;
    padding-left: 40px;
    padding-right: .9em;
    width: max-content;
    opacity: 1;
    height: 65px;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    vertical-align: center;
    line-height: 65px;
}

#coffee:hover .flyout {
    transition: width .3s ease-out;
    opacity: 1;
    width: max-content;
    visibility: visible;
}

#coffee img {
    border-radius: 50%;
    width: 65px;
    height: 65px;
}

#coffee img.flip {
    animation: flip .4s ease-out;
    transform-origin: bottom;
}

@media screen and (prefers-reduced-motion: no-preference) {
    @keyframes flip {
        /* Center */
        0%, 100% {
            transform: rotate(0deg);
        }

        /* Left */
        40%, 80% {
            transform: rotate(-6deg);
        }

        /* Right */
        20%, 60% {
            transform: rotate(6deg);
        }
    }
}

@media (min-width: 1300px) {
    .banner {
        width: 1150px;
    }
}

@media (max-width: 599px) {
    .banner {
        display: none !important;
    }
}