html, body {
    width: 100%;
    height: 100%;
    color: #efefef;
}

.result-box {
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.25;
}

.hidden {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
}

@supports ((-webkit-backdrop-filter: blur(8px)) or (backdrop-filter: blur(8px))) {
    .backdrop-blur {
        background-color: rgba(0, 0, 0, .15);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
    }

    .banner .filler .text {
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        background-color: rgba(0, 0, 0, .2);
    }
}

@supports not ((-webkit-backdrop-filter: blur(8px)) or (backdrop-filter: blur(8px))) {
    .backdrop-blur:after {
        pointer-events: none;
        z-index: -1;
        background-color: rgba(33, 33, 33, .96);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: .6em;
    }

    .banner .filler .text {
        background-color: #3c3c3c;
    }
}

.form-container {
    position: fixed;
    padding: 1.2em;
    border-radius: .7em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(94%, 560px);
    z-index: 1000;
}

@media (max-width: 1300px) {
    .form-container .ms-3 {
        margin-left: 0 !important;
        width: 94%;
    }
}

.flyout {
    position: fixed;
    top: .6rem;
    right: -138px;
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
    transition: right .26s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.flyout:hover {
    right: 0;
}

.flyout .settings {
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
    padding-right: .5rem;
    display: flex;
}

.flyout .settings-cog {
    height: 1.7rem;
    width: 1.7rem;
    margin: .5rem .9rem .5rem .5rem;
    display: flex;
}

.flyout .form-check {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flyout .form-check-input {
    margin-right: .3rem;
}

.bg-image {
    background: rgba(46, 46, 46, .72);
    width: 100%;
    height: 100%;
}

.bg-image:before {
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    background: url('../img/bg-2.png') repeat;
    filter: grayscale(1);
}

.bg-image:after {
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1000;
    position: fixed;
    top: 0;
    left: 0;
    animation: rgb linear 168s infinite;
    background-image: linear-gradient(to right, #4df117, #6dcddd, #093dd8, #fc0cb9, #f01f25, #f3ec17, white, #4df117, #4df117);
    background-size: 1200% 100%;
}

@media screen and (prefers-reduced-motion: reduce) {
    .bg-image:after {
        animation: none;
    }
}

@keyframes rgb {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 850% 0;
    }
}

#background {
    width: 100%;
    height: 100%;
}

#coffee {
    display: flex;
    position: fixed;
    left: .6em;
    bottom: .6em;
    height: 65px;
}

#coffee a {
    display: flex;
    color: #000;
    font-weight: bolder;
    font-size: 1.40rem;
    text-decoration: none;
    vertical-align: center;
    line-height: 65px;
}

#coffee a div {
    z-index: -1;
    padding-left: 36px;
    padding-right: 1.2rem;
    margin-left: -32px;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    background-color: #ffdd00;
}

#coffee img {
    border-radius: 50%;
    width: 65px;
    height: 65px;
}

#coffee img.flip {
    animation: flip .4s ease-out;
    transform-origin: bottom;
}

@media screen and (prefers-reduced-motion: no-preference) {
    @keyframes flip {
        /* Center */
        0%, 100% {
            transform: rotate(0deg);
        }

        /* Left */
        40%, 80% {
            transform: rotate(-6deg);
        }

        /* Right */
        20%, 60% {
            transform: rotate(6deg);
        }
    }
}