html, body {
    width: 100%;
    height: 100%;
    color: #efefef;
}

.result-box {
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.25;
}

.hidden {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
}

@supports not ((-webkit-backdrop-filter: blur(8px)) or (backdrop-filter: blur(8px))) {
    .backdrop-blur:after {
        pointer-events: none;
        z-index: -1;
        background-color: rgba(33, 33, 33, .96);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: .6em;
    }
}

@supports ((-webkit-backdrop-filter: blur(8px)) or (backdrop-filter: blur(8px))) {
    .backdrop-blur {
        background-color: rgba(0, 0, 0, .15);
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
    }
}

.form-container {
    position: fixed;
    padding: 1.2em;
    border-radius: .7em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(94%, 560px);
}

@media (max-width: 1300px) {
    .form-container .ms-3 {
        margin-left: 0 !important;
        width: 94%;
    }

    .settings {
        display: none;
    }
}

.settings {
    position: fixed;
    padding: .4em;
    top: .6em;
    right: .6em;
    border-radius: .4em;
}

.bg-image {
    background: rgba(46, 46, 46, .85);
    width: 100%;
    height: 100%;
}

.bg-image:before {
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    background: url('../img/bg-2.png') repeat;
    filter: grayscale(1);
}

.bg-image:after {
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1000;
    position: fixed;
    top: 0;
    left: 0;
    animation: rgb linear 16s infinite;
    background-image: linear-gradient(to right, orange, yellow, green, cyan, blue, violet, orange);
    background-size: 300% 100%;
}

@keyframes rgb {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 300% 0;
    }
}

#background {
    width: 100%;
    height: 100%;
}